/* === GLOBAL SITE STYLES === */

@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    background-color: #EBECE6;
    font-family: "Gill Sans MT", "Gill Sans", Calibri, sans-serif !important;
    box-shadow: 0 2px 7px 4px rgba(0,0,0,0.05);
}

/* h1, d/t */
.page-title, .page-header {
    font-size: 30px;
    color: #017d44;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 600;
    text-transform: uppercase;
}

.page-title {
    text-align: center;  
}

@media (max-width: 576px) {
    .page-title, .page-header {
        font-size: 26px;
        color: #017d44;
        letter-spacing: 0;
        line-height: 42px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .page-title {
        text-align: center;
    }
}

/* h2, d/t */
.category-title {
    font-size: 24px;
    color: #017d44;
    letter-spacing: 0;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 576px) {
    .category-title {
        font-size: 19px;
        color: #017d44;
        letter-spacing: 0;
    }
}

/* h3, d/t */
.product-name {
    font-size: 18px;
    color: #017d44;
    letter-spacing: 0;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 576px) {
    
    h3 {
        font-size: 16px;
        color: #017d44;
        letter-spacing: 0;
        line-height: 21px;
    }

    .product-name {
        font-size: 16px;
        color: #017d44;
        letter-spacing: 0;
        line-height: 21px;
        text-transform: uppercase;
        font-weight: 600;
    }
}

/* h4, d/t */
h4 {
    font-size: 16px;
    color: #017d44;
    letter-spacing: 0;
    line-height: 18px;
}

/* p, d/t */
p {
    font-family: 'Poppins', sans-serif;
    color: #425460;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
}

/* li */
li {
    color: #425460;
    font-family: Poppins;
    font-size: 14px;
    line-height: 21px;
}

.form-control:focus {
    box-shadow: none;
}

/* labels */
label {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #425460;
    font-weight: 500;
    line-height: 22px;
}

/* button, d/t */
.btn.btn-primary {
    background-color: #017D44;
    border: 1px solid #017D44;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.btn.btn-primary:hover {
    background-color: #00632f;
    border: 1px solid #00632f;
}

.btn.btn-primary:focus {
    box-shadow: none;
}

.btn.btn-primary a,
a.btn.btn-primary {
	color: #FFFFFF;
	font-family: Poppins;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

/* a, d/t */
a:hover {
    text-decoration: none;
}

.header-link {
    color: #017d44;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 22px;
    font-size: 14px;
}

.header-link:hover {
    color: #017d44;
}

/* ************************* */
/* ** MAIN WEBSITE STYLES ** */
/* ************************* */ 

.outer-container {
    padding: 0;
}

.inner-main {
    background-color: #FFFFFF;
    box-shadow: 0 2px 7px 4px rgba(0,0,0,0.05);
}

/* === HEADER STYLES: GLOBAL / DESTKOP === */

#home-top-header {
    background-color: #FFFFFF;
}

.header-image {
    width: 221px;
    height: 75px;
}

#main-navbar {
    background-color: #017d44;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    height: 40px;
}

#product-dropdown .dropdown-menu,
#resources-dropdown .dropdown-menu {
    border: 1px solid #979797;
    box-shadow: 0 1px 17px 2px rgba(0,0,0,0.2);
    padding: 0;
}

#product-dropdown.dropdown,
#resources-dropdown.dropdown { 
    position: static; 
}

#product-dropdown .dropdown-menu,
#resources-dropdown .dropdown-menu { 
    width: 100%; 
    text-align: left; 
}

#product-dropdown .dropdown-menu > p ,
#product-dropdown .dropdown-menu > p { 
    display: inline-block; 
}

.drop-header {
    color: #017D44;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.drop-content {
    color: #4A4A4A;
    line-height: 17px;
}

.last-prod-drop {
    background-color: #EBECE6;
}

.last-prod-drop .drop-header {
    opacity: 1;
}

#main-navbar .nav-link {
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    padding: 16px 20px;
}

#main-navbar .main-nav-hov:hover {
    color: #017d44;
    background-color: #FFFFFF;
}

@media (min-width: 992px){
    
}

/* +++ HEADER: TABLET +++ */

@media (max-width: 991px) {
    
}

/* +++ HEADER: MOBILE +++ */

@media (max-width: 576px){

}

/* === HOMEPAGE HERO STYLES: GLOBAL / DESKTOP === */

#home-container {
    background-color: #ffffff;
    padding: 30px 40px;
    box-shadow: 0 2px 7px 4px rgba(0,0,0,0.05);
}

#hero-slider .carousel-item img {
    height: 410px;
}

@media (min-width: 992px){
    
}

/* +++ HOMEPAGE HERO: TABLET +++ */

@media (max-width: 991px) {
    
}

/* +++ HOMEPAGE HERO: MOBILE +++ */

@media (max-width: 576px){
    
}

/* === HOMEPAGE CARDS STYLES: GLOBAL / DESKTOP === */

.homepage-single-card.card {
    border-radius: 0;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    font-family: 'Poppins', sans-serif;
}

.homepage-single-card.card img {
    height: 230px;
}

.homepage-single-card.card .card-body {
    border-radius: 0;
    max-height: 215px;
    background-color: #F9F9F7;
}

.homepage-single-card .card-body .card-text {
    color: #425460;
    font-size: 14px;
    line-height: 21px;
}

.homepage-single-card .card-body .btn.btn-primary {
    padding: 6px 30px;
}

@media (min-width: 992px){
    
}

/* +++ HOMEPAGE CARDS: TABLET +++ */

@media (max-width: 991px) {
    
}

/* +++ HOMEPAGE CARDS: MOBILE +++ */

@media (max-width: 576px){
    
}

/* === HOMEPAGE LOWER LOGOS STYLES: GLOBAL / DESKTOP === */

#home-lower-logos p{
    color: #666666;
    font-size: 15px;
    font-style: italic;
    line-height: 25px;
    margin: 0;
}

#home-lower-logos .home-lower-cert {
    font-size: 13px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    line-height: 18px;
    font-style: normal;
}

#home-lower-logos .my-4 img {
    margin: 0 24px;
}

@media (min-width: 992px){
    
}

/* +++ HOMEPAGE LOWER LOGOS: TABLET +++ */

@media (max-width: 991px) {
    
}

/* +++ HOMEPAGE LOWER LOGOS: MOBILE +++ */

@media (max-width: 576px){
    
}

/* === NEW PRODUCTS PAGE STYLES: GLOBAL / DESKTOP === */

.product-img-block {
    height: 180px;
    width: 280px;
}

@media (min-width: 992px){

}

/* +++ NEW PRODUCTS: TABLET +++ */

@media (max-width: 991px) {

}

/* +++ NEW PRODUCTS: MOBILE +++ */

@media (max-width: 576px) {

}

/* === PRODUCTS LANDING PAGE STYLES: GLOBAL / DESKTOP === */

#landing-main-container .product-text-block .product-name {
    text-align: center;
}

.landing-img-block {
    width: 361px;
    height: 241px;
}

.landing-list-row {
    margin: 20px auto;
}

#landing-main-container .learn-more-block {
    width: 361px;
    height: 241px;
    border: 1px solid #DDDDDD;
    background-color: rgba(235, 236, 230, 0.5);
}

#landing-main-container .landing-list-row .landing-img-block {
    border: 0.67px solid #CCCCCC;
}

.learn-more-block .btn.btn-primary {
    padding: 6px 30px;
    margin: 10px auto;
}

@media (min-width: 992px){

}

/* +++ PRODUCTS LANDING PAGE: TABLET +++ */

@media (max-width: 991px) {

}

/* +++ PRODUCTS LANDING PAGE: MOBILE +++ */

@media (max-width: 576px) {

}

/* === PRODUCT CATEGORY STYLES: GLOBAL / DESKTOP === */

@media (min-width: 992px){

}

#category-main-container .page-title {
    text-align: left;
}

#category-main-container .prod-category-header-row .product-img-block {
    height: 230px;
    width: 560px;
}


/* +++ PRODUCT CATEGORY: TABLET +++ */

@media (max-width: 991px){

}

/* +++ PRODUCT CATEGORY: MOBILE +++ */

@media (max-width: 576px){

}

/* === SINGLE PRODUCT STYLES: GLOBAL / DESKTOP === */

#single-prod-main .single-prod-left-col .page-title {
    text-align: left;
}

.product-render,
.product-schematic,
.product-performance,
.product-order {
    height: 180px;
    width: 381px;
}

.single-prod-right-col .right-top-links a {
    color: #017D44;
    font-family: Poppins;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: underline;
}

#single-prod-main .single-prod-right-col .right-main-content {
    border: 1px solid #DDDDDD;
    background-color: #F9F9F7;
}

.right-list ul {
    list-style-position: outside;
}

.spec-table {
    background-color: #F9F9F7;
}

.spec-table td {
    font-size: 14px;
    text-transform: uppercase;
}

.table-responsive .model-table.table thead th {
    border-bottom: none;
}

.table-responsive .model-table.table th {
    border-top: none;
}

.table-responsive .model-table th.model-table-header {
    color: #017D44;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
}

.table-responsive .model-table td.model-table-data {
    color: #425460;
	font-family: Poppins;
	font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.legal-title {
    font-size: 11px;
    color: #111111;
    line-height: 14px;
    font-weight: 600;
}

.legal-block {
    text-align: center;
    font-size: 11px;
    color: #666666;
    line-height: 16px;
}

/* +++ SINGLE PRODUCT MODAL STYLES: STP / CONFIRM +++ */

#get-stp-modal .modal-header,
#stp-thanks-modal .modal-header {
    border-bottom: none;
}

#get-stp-form .page-header,
#get-stp-form p {
    text-align: center;
}

/* #get-stp-form .form-group label {
    font-weight: bold;
} */

#get-stp-form p a {
    font-size: 14px;
    line-height: 18px;
    color: #017D44;
    text-decoration: underline;
}

#get-stp-form .col-6 p {
    font-size: 11px;
}

#get-stp-form button,
#stp-thanks-modal .thanks-close {
    /* line-height: 18px; */
    padding: 10px 58px;
}

/* === GENERAL INFO TEMPLATE STYLES: GLOBAL / DESKTOP === */

@media (min-width: 992px) {

}

#gen-info-main-container .page-header,
#gen-info-main-container .product-info,
#gen-info-main-container .product-name {
    text-align: center;
}

#gen-info-main-container .resource-block {
    border: 1px solid #DDDDDD;
    background-color: rgba(235,236,230,0.3);
}

p.resource-link a {
    text-decoration: underline;
    color: #017d44;
}

#gen-info-main-container .contact-us {
    padding: 9px 32px;
    margin: 10px auto;
}

/* +++ GENERAL INFO TEMPLATE: TABLET +++ */

@media (max-width: 991px) {

}

/* +++ GENERAL INFO TEMPLATE: MOBILE +++ */

@media (max-width: 576px) {

}

/* === FIND A DISTRIBUTOR STYLES: GLOBAL / DESKTOP === */

@media (min-width: 992px) {

}

#find-distributor-main .left-search .search-block {
    border: 1px solid #DDDDDD;
    background-color: #F9F9F7;
}

#find-distributor-main .left-search .product-info {
    text-transform: uppercase;
}

#find-distributor-main .left-search .btn.btn-primary {
    padding: 10px 14px;
}

#find-distributor-main .left-search .miles-text {
    font-size: 15px;
    color: #017D44;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 20px;
}

#find-distributor-main .left-search .search-block .search-text-default {
    color: #017D44;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}

#find-distributor-main .left-search .search-block h4 {
    text-transform: uppercase;
}

#find-distributor-main .left-search .search-block .results-link {
    color: #017D44;
    text-decoration: underline;
}

/* +++ FIND A DISTRIBUTOR: TABLET +++ */

@media (max-width: 991px) {

}

/* +++ FIND A DISTRIBUTOR: MOBILE +++ */

@media (max-width: 576px) {

}

/* === CONTACT US STYLES: GLOBAL / DESKTOP === */

@media (min-width: 992px) {

}

.contact-left .contact-block {
    border: 1px solid #DDDDDD;
    background-color: #F9F9F7;
}

#contact-form .form-group .col-6 p {
    font-size: 11px;
}

#contact-form button {
    padding: 10px 58px;
}

/* +++ CONTACT US: TABLET +++ */

@media (max-width: 991px){

}

/* +++ CONTACT US: MOBILE +++ */

@media (max-width: 576px) {

}

/* === ABOUT PAGE STYLES: GLOBAL / DESKTOP === */

.about-hero-img {
    height: 420px;
    width: 100%;
}

.text-block {
    margin: -15em 5em;
}

.text-block h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 51px;
    line-height: 55px;
    text-shadow: 2px 4px rgba(0,0,0,0.24);
}

.about-block {
    width: 528px;
    max-height: 600px;
}

.about-title {
    font-weight: 600;
    text-transform: uppercase;
}

.about-block, .about-lower-hero {
    background-color: #F9F9F7;
    border: 1px solid #DDDDDD;
}

.about-block img {
    height: 350px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

@media (min-width: 992px){

}

/* +++ ABOUT: TABLET +++ */

@media (max-width: 991px){

}

/* +++ ABOUT: MOBILE +++ */

@media (max-width: 576px){

}

/* === PRODUCT CUSTOMIZATION STYLES: GLOBAL / DESKTOP === */

.customize-subtitle {
    padding: 0 86px;
}

.customize-left img {
    height: 250px;
    width: 480px;
    border: 1px solid #DDDDDD;
}

.customize-left .btn {
    /* line-height: 18px; */
    padding: 10px 20px;
    text-transform: uppercase;
}

.customize-right .example-block {
    border: 1px solid #DDDDDD;
    background-color: #F9F9F7;
    padding: 20px;
}

.example-block ul {
    list-style-position: outside;
    padding: 0 14px;
}

.example-block ul li {
    padding-left: 7px;
}

/* +++ PRODUCT CUSTOMIZATION: TABLET +++ */

/* +++ PRODUCT CUSTOMIZATION: MOBILE +++ */

/* === RESOURCES PAGE STYLES: GLOBAL / DESKTOP === */

.resource-block {
    border: 1px solid #DDDDDD;
    background-color: rgba(235,236,230,0.3);
}

.resource-block h2 {
    text-transform: uppercase;
}

.resource-block .btn, .download-btn {
    /* line-height: 18px; */
    padding: 10px 20px;
}

.resource-block input, .resource-block select {
    border: 1px solid #9B9B9B;
    border-radius: 2px;
}

.resource-block p {
    margin: 10px 0;
    font-size: 13px;
}

/* +++ RESOURCES: TABLET +++ */

/* === PRODUCT PRICES STYLES: GLOBAL / DESKTOP === */

#prices-main-container .btn {
    /* line-height: 18px; */
    padding: 10px 20px;
}

#prices-main-container img {
    box-sizing: border-box;
    height: 282px;
    width: 382px;
    border: 1px solid #CCCCCC;
}

#prices-main-container input, #prices-main-container select {
    border: 1px solid #9B9B9B;
    border-radius: 2px;
}

#prices-main-container .col-lg-6 p {
    color: #666666;
    font-size: 20px;
}

#prices-main-container .col-lg-6 p a {
    color: #017D44;
    text-decoration: underline;
}

#prices-main-container ul {
    list-style-position: outside;
    padding: 0 14px;
}

#prices-main-container ul li {
    padding-left: 7px;
}

/* +++ PRODUCT PRICES: TABLET +++ */

/* +++ PRODUCT PRICES: MOBILE +++ */

/* === PRODUCT PRICE RESULTS STYLES: GLOBAL / DESKTOP === */

#prices-results-main-container .btn {
    /* line-height: 18px; */
    padding: 10px 20px;
}

#prices-results-main-container img {
    box-sizing: border-box;
    height: 282px;
    width: 382px;
    border: 1px solid #CCCCCC;
}

#prices-results-main-container input, #prices-main-container select {
    border: 1px solid #9B9B9B;
    border-radius: 2px;
}

#prices-results-main-container .col-lg-6 p {
    color: #666666;
    font-size: 20px;
}

#prices-results-main-container .col-lg-6 p a {
    color: #017D44;
    text-decoration: underline;
}

#prices-results-main-container ul {
    list-style-position: outside;
    padding: 0 14px;
}

#prices-results-main-container ul li {
    padding-left: 7px;
}

/* +++ PRODUCT PRICE RESULTS: TABLET +++ */

/* +++ PRODUCT PRICE RESULTS: MOBILE +++ */

/* === FOOTER STYLES: GLOBAL / DESKTOP === */

#vvi-footer {
    padding: 30px 40px;
}

#vvi-footer p {
    color: #111111;
    font-family: Poppins;
    font-size: 13px;
    line-height: 18px;
}

#vvi-footer .offset-lg img {
    margin: 0 5px;
}

@media (min-width: 992px){
    
}

/* +++ FOOTER: TABLET +++ */

@media (max-width: 991px) {
    
}

/* +++ FOOTER: MOBILE +++ */

@media (max-width: 576px){
    
}

/* ********************* */
/* ** CMS SITE STYLES ** */
/* ********************* */

/* === CMS HOMEPAGE: GLOBAL / DESKTOP === */

#main-navbar .cms-greyed {
    color: #7FBDA1;
}

#cms-main-container .btn.btn-primary {
    padding: 1% 4%;
}

#cms-main-container p {
    margin: 3% 0;
}

#cms-main-container hr {
    width: 750px;
    background-color: #979797;
}

#cms-main-container h2,
#cms-home-table th,
.rsrc-table.table-responsive {
    text-transform: uppercase;
}

#cms-home-table th, #cms-home-table td {
    padding-left: 0;
    padding-right: 0;
}

#cms-home-table th,
.rsrc-table.table-responsive .table th {
    color: #017D44;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
}

#cms-home-table td,
.rsrc-table.table-responsive .table td {
	color: #425460;
	font-family: Poppins;
	font-size: 14px;
    line-height: 21px;
    border-top: none;
    border-bottom: #979797;
}

#cms-home-table .btn.btn-primary {
    padding: 4% 12%;
}

/* +++ CMS HOMEPAGE: TABLET +++ */

/* +++ CMS HOMEPAGE: MOBILE +++ */

/* +++ CMS PRODUCT CATEGORY: GLOBAL / DESKTOP +++ */

.model-table.table-striped>tbody>tr:nth-child(even)>td, 
.model-table.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #F9F9F7;
}

.model-table.table-striped>tbody>tr:nth-child(odd)>td, 
.model-table.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #FFFFFF;
}

.model-table.table-striped .model-table-data a {
	color: #425460;
	font-family: Poppins;
	font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding-right: 5px;
    text-decoration: underline;
}

/* === ADD PRODUCT: GLOBAL / DESKTOP === */

#add-prod-form label.fileContainer {
    overflow: hidden;
    position: relative;
    border: 1px solid #017D44;
    font-size: 13px;
    font-weight: bold;
    color: #017D44;
    border-radius: 3px;
    padding: 4% 10%;
    background-color: rgba(204,204,204,0);
}

.fileContainer input[type=file] {
    cursor: inherit;
    display: block;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

#add-prod-form .btn.btn-primary {
    padding: 10px 20px;
}

#add-prod-form .back.btn.btn-primary {
    border: 1px solid #017D44;
    font-size: 13px;
    font-weight: bold;
    color: #017D44;
    border-radius: 3px;
    background-color: rgba(204,204,204,0);
}

#add-prod-form a.add-bullet {
	color: #425460;
	font-family: Poppins;
	font-size: 14px;
	line-height: 21px;
    text-decoration: underline;
}

#cms-manage-resources-main p.text-center a.btn.btn-primary {
    padding: 1% 4%;
}

.rsrc-table.table-responsive .table tbody tr {
    border-bottom: 1px solid #979797;
}

.rsrc-table.table-responsive .table th,
.rsrc-table.table-responsive .table td {
    padding-left: 0;
    padding-right: 0;
}

.rsrc-table.table-responsive .table td {
    text-transform: none;
}

/* === EDIT RESOURCE: GLOBAL / DESKTOP === */

#cms-edit-resource-main label.fileContainer {
    overflow: hidden;
    position: relative;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #017D44;
    border-radius: 3px;
    padding: 2% 4%;
}

#cms-edit-resource-main ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 13px;
  }
  #cms-edit-resource-main ::-moz-placeholder { /* Firefox 19+ */
    font-size: 13px;
  }
  #cms-edit-resource-main :-ms-input-placeholder { /* IE 10+ */
    font-size: 13px;
  }
  #cms-edit-resource-main :-moz-placeholder { /* Firefox 18- */
    font-size: 13px;
  }

#cms-edit-resource-main td p {
    display: inline-block;
    vertical-align: top;
}